[2016-01-10 20:23] flopp opened #1 "Use proper mercator projection to map track coordinates to pixels"
see https://en.wikipedia.org/wiki/Mercator_projection#Derivation_of_the_Mercator_projection

[2016-01-10 20:25] #1 closed

[2016-01-10 20:25] flopp commented on #1
Fixed in 5673ee6

[2016-01-11 15:50] flopp opened #2 "Add option to highlight specific tracks"
e.g.

create_poster.py --highlight "foo.gpx" --highlight "bar.gpx" --highlight-color "#FF0000" ...

[2016-01-11 19:01] #2 closed

[2017-01-18 17:40] flopp opened #3 "Circular layout"
Add circular layout:

- (360/365)° segments for each day
- segment length = run length at that day
- multiple runs at one day -> stacked segments

[2017-01-18 21:17] flopp commented on #3
932eaedbea1b736bd712db595c5cd02fb19fb506

[2017-01-18 21:17] #3 closed

[2017-01-19 21:54] mipapo commented on #3
nice one!

[2017-01-21 12:57] mipapo opened #5 "Please add .gitignore file"
Thanks ;)

[2017-01-21 13:06] mipapo opened #6 "Add multilanguage support"
Using gettext

Generating raw *.pot file
`pygettext3 -d gpxposter src/*.py`

paramter `--language <lang_code>`
Eg. `--language de_DE

Fallback is English
Current work at: https://github.com/mipapo/GpxTrackPoster

I would prefer if "Runs" would be renamed to "Number" to have a more general naming

If you want I can add the translation to https://translate.runalyze.com/ so that everyone can easily a

[2017-01-21 14:55] #5 closed

[2017-01-21 15:11] flopp commented on #6
Nice!

Using "translate.runalyze.com" for crowd-sourced translation would be nice. Of course, one could alternative service like https://crowdin.com/.

Regarding "Runs" vs "Numbers":
I think it would be preferable if the whole "statistics section" was configurable via some kind of template file. Such that every user can select which data is shown, which labels are used, and so on.

[2017-01-21 17:53] mipapo commented on #6
@flopp Yep, but It's not free ;) You could also use the hosted weblate version (free for open-source projects -> https://weblate.org/en/hosting/#free)

A configureable statistics section would be nice

[2017-01-25 21:40] flopp opened #7 "Add BBox Option to Heatmap Poster"
Add bbox option (`--bbox COORDS1;COORDS2`) to restrict the extent of the heatmap poster.

Rationale: if there are some tracks in your collection that are far away from the other tracks (e.g. runs during vacation), the heatmap poster becomes useless.

[2017-01-25 22:06] lefty01 commented on #7
hi, i was looking for the same feature as well ;)
actually I started looking at the heatmap_drawer.py and thought that it might be as easy as overwrite min/max values in this line:

[(min_x, min_y, max_x, max_y) = utils.compute_bounds_xy(xy_polylines)](https://github.com/flopp/GpxTrackPoster/blob/master/src/heatmap_drawer.py#L26)
but so far I got no good result.
If you could give some hints here,

[2017-01-26 18:30] oboingo opened #8 "All years?"
Hi there, can we get an option to show all years?  Or more than one year at a time?

I would like to combine several years at a time on the grid and heatmaps at least (might be tougher on the calendar and circular modes).

[2017-01-26 18:49] flopp commented on #8
Currently, the script only supports exactly one year.
But you are right - a more flexible time range would be nice for the "grid" and "heatmap" variants.

[2017-02-01 20:18] laufhannes commented on #8
At least for the heatmap it's done by commenting out the following two lines in [track_loader.py#L90-L91](https://github.com/flopp/GpxTrackPoster/blob/c4c8b283752f17dd037438e48e4e9877bbb412a4/src/track_loader.py#L90-L91):
[code]

[2017-02-01 20:31] laufhannes commented on #7
Shall all the statistics on the poster's bottom be calculated based on _all_ tracks or only on _filtered_ tracks?

@lefty01 I guess [track_loader.py::__filter_tracks(self, tracks)](https://github.com/flopp/GpxTrackPoster/blob/8062701bf5793d145014ed4476e8673484801c66/src/track_loader.py#L82-L95) is the right place and you might need something similar to [utils.py::compute_bounds_xy(polylines)](http

[2017-02-01 20:40] laufhannes opened #9 "Configurable (or automatic) line width for heatmap"
As already stated in #7, the heatmap is kind of useless if the track collection is wide spread. Still, I'm a big fan of having a look at my complete route net.

My current solution is to reduce line widths by hand, e.g.
[code]
That is: `0.02, 0.5` and `0.05, 0.2` instead of `0.1, 5.0` and `0.2, 2.0` (for ~2.600 activities from Sweden till the Alps). A high resolution image is required, but it work

[2017-02-01 21:32] laufhannes opened #10 "[heatmap] Optionally use map as background"
Depending on the heatmap's size, it may be nice to see at least some basic map in the background.

I have a first working solution with https://github.com/laufhannes/GpxTrackPoster/commit/ebb082301ed5a33b9b4b645f6d93cf92c9f82b1e and https://github.com/laufhannes/staticmaplite/commit/3758e1102da5e2361763ce1ef78bcf18a53686f3, but that's not perfect. The main part within this repo is to calculate lat

[2017-02-01 22:02] lefty01 commented on #10
wow ... nice!

[2017-02-01 22:16] lefty01 commented on #7
hi I pushed my works I had so far to my fork and submitted a pull request ... you can review the changes and I would be glad to hear any feedback if that makes sense...
at least it works (as in works for me ;))
I do the restriction by overriding the min/max x/y values as inidcated in  my previous comment. This has the drawback to to update the statistics.

so maybe I give your idea with filtering

[2017-02-02 08:01] laufhannes commented on #7
@lefty01 Nope, my work on the background map does use all tracks.

[2017-02-03 18:31] flopp commented on #10
Very nice.

I already have some experience with static maps: https://github.com/flopp/go-staticmaps ;)

[2017-02-04 19:11] mipapo opened #12 "Support of other units for distances"
Parameter to switch between
- metric unit
- imperial unit

I think the default one should be metric unit

[2017-02-04 21:28] mipapo opened #13 "Idea - calendar|circular color intensity"
The longer the distance the more intensive the color of that day

(Just looking at the posters all the time and wanna leave some ideas for peple who wanna contribute to this great repository ;) )

[2017-02-06 21:36] lefty01 commented on #7
hi, now had some more time to look into this ... as discussed in the old pull-request comment: https://github.com/flopp/GpxTrackPoster/pull/11#issuecomment-277192687
I made use of gpxpy's get_bounds function to add track bounds as an attribute to each track while loading gpx (will be stored to cache too).
first stage filter should be in place and check if track is completly out of the requested bb

[2017-02-13 19:39] flopp commented on #8
5cbd4fa32bc6fd3ea3cf2cc081c822a4b7a13beb

New values for option `--year`:
- Display single year: `--year 2016`
- Display year range: `--year 2014-2016`
- Display all years: `--year all`

[2017-02-13 19:39] #8 closed

[2017-02-14 20:45] flopp commented on #12
de8e1c37aab11d34ab5a72a1de2b751c5b2985a2

add `--units` parameter; values: `metric`, `imperial`; default: `metric`

[2017-02-14 20:45] #12 closed

[2017-12-30 18:36] flopp commented on #13
Add `--track-color2`/`--special-color2` to define gradient style colors.

[2017-12-30 18:36] #13 closed

[2018-01-01 16:43] mipapo opened #15 "TypeError: Too few parameters for typing.Generator"
works until 2cf9558d6aaf6e02b477f62c1cb2039461b8edb1
breaks starting with 7842d4200fd7db9707953c8103c0e0c452ab22f7

[code]

[2018-01-01 17:22] flopp commented on #15
fixed in 5697967c90351aad28421ef207fe4e5f6dbe3648

[2018-01-01 17:22] #15 closed

[2018-01-01 17:42] mipapo commented on #15
Thanks! :+1:

[2018-01-07 12:26] flopp commented on #7
a3d57b8ab46ef88366de22153200eb355e0c3d90:

add options `--heatmap-center LAT,LNG` and `--heatmap-radius RADIUS_KM` to specify the heatmap's center coordinates, and a radius around this center (in km). The scale factor of the heatmap will be computed in a way that all tracks in this circle will be visible.

[2018-03-18 03:48] joetimmerman opened #18 "Heatmap bbox from clustering"
Decided to try tackling #7 by using DBSCAN to cluster the (center points of the) tracks, then only create the heatmap for the first cluster. The code is very messy right now -- just a PoC to see if I could get it work -- and I'm not an expert on clustering algorithms, but it seems to be working well enough for me. Without customizing the heatmap center/radius, my heatmap was gibberish. Adding in t

[2018-03-18 13:54] flopp commented on #18
Looks like your home turf is NYC ;)

I really like the idea of using an automatic clustering algorithm for creating "meaningful" heatmap posters. I will give it a try...

[2018-03-26 09:15] randmized opened #19 "Running into "No tracks found""
Regardless if i use a fixed or relative path as --gpx-dir or double or single quotes, i seem to rund into the No tracks found problem. Is there a certain format expected from the GPX files? Mine gets exported as:

`<gpx version="1.1" creator=" " xmlns="http://www.topografix.com/GPX/1/1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http

[2018-03-26 17:18] joetimmerman commented on #19
Would you mind posting one of the .gpx files you're seeing this error with so we can try to replicate the issue?

Also, could you please run in verbose mode with file output (--verbose --logfile FILENAME) and upload the resulting log file here?

[2018-03-28 08:44] randmized commented on #19
Hi, thanks.
Using the verbose it turned out that my tracks do not have a start time.
It looks like i have to export them differently. Will give that a try. Thanks for the quick response.

[2018-03-28 14:38] joetimmerman commented on #19
As a test I tried running the gpxinfo utility from [gpxpy](https://github.com/tkrajina/gpxpy) (the repository used here to parse the GPX files) and it didn't seem to be able to read that gpx file, so we won't be able to either. I'll take a look to see if we can fail a bit more gracefully though (with verbose logging off).

[2018-04-03 15:19] joetimmerman commented on #19
PR #21 updated error handling/logging so that problems like this will show up directly in the terminal output regardless of verbose status. This can probably be closed.

[2018-05-04 01:49] beyoung opened #22 "#BUG: concurrent.futures"
First of all, thanks for your work on this project ,it's great.  #_#.
but when i cloned this project ,and run my own dataset, bug happened to me, it reported:
[code]
I don't have any idea where the bug fires.

[2018-05-04 05:37] flopp commented on #22
Hmmm, that looks really bad. Seems like the loading of one GPX file crashes the script.
Are you able to run the script on a different set of GPX files?

[2018-05-04 05:38] beyoung commented on #22
It runs good when python version is 3.5 .

[2018-05-04 05:59] beyoung commented on #22
the GPX files is ok.
[gpx.tar.gz](https://github.com/flopp/GpxTrackPoster/files/1973373/gpx.tar.gz)

[2018-11-08 11:06] mipapo commented on #6
@flopp  You will get a MR soon!

[2018-11-10 11:17] mipapo commented on #6
Fixed in 3b76ac35e0cb827eb63afd3c69f99ec873d78e22

[2018-11-10 11:17] #6 closed

[2018-11-10 11:47] #19 closed

[2019-06-20 16:49] yeKcim opened #29 ""My tracks" not in po file"
I can define title with --title option but default title can't be translated

[2019-06-21 09:45] yeKcim opened #31 "decimal separator not translated"
numbers are always displayed in english way "1234.5"

Could be great if we can choose numbers display with --language. In french, for exemple, we write "1 234,5"

something like
[code]
?

[2019-06-21 10:43] flopp commented on #31
You're right.
I'll implement that...

[2019-06-21 11:55] #31 closed

[2019-06-21 11:59] Djailla opened #32 "Use tox instead of Makefile ?"
Hello,

Would you consider adding tox / pex support instead of Makefile ?

Regards

[2019-06-21 12:16] yeKcim opened #33 "typography translation"
last thing I think that could be added in translation file : ":"
In french, always as example, we use " :" (there is a nbsp)

(thank you very much for your reactivity on my issues reports and pull request, that's great and pleasant)

[2019-06-21 12:36] flopp commented on #33
Sounds reasonable. I haven't been aware of any special formatting rules when it comes to french - but now I am ;)

[2019-06-21 12:37] flopp commented on #32
Thank you for the suggestion!
I have to look into that as I have no experience with neither tox nor pex.

[2019-06-21 12:53] Djailla commented on #32
I can provide support and a PR so that you can have a look.

I would also work on a tool to sort Strava data exported in bulk from the
website

Le ven. 21 juin 2019 à 14:37, Florian Pigorsch <notifications@github.com> a
écrit :

[2019-06-21 13:20] flopp opened #34 "Translate month names for the calendar & circular layouts"

[2019-06-21 13:32] flopp commented on #34
Ah, that's already done by using `date.strftime("%B")` which is locale-aware.

[2019-06-21 13:32] #34 closed

[2019-06-21 13:34] flopp commented on #32
A PR would be nice!

For reading Strava export, I have a local script that uses `gpsbabel` to convert `.fit` files into `.gpx`.

[2019-06-21 14:08] Djailla commented on #32
Ah ! Would be great to share it too. What about tcx files ?

[2019-06-26 16:52] #32 closed

[2019-10-04 12:00] #29 closed

[2020-01-13 10:14] yeKcim opened #43 "no distance color"
`create_poster --output "/tmp/gpx_circular_test.svg" --athlete Anthony --year 2019 --type circular --special-distance 10 --special-distance2 15 --circular-rings`

![gpx_circular_test_90dpi](https://user-images.githubusercontent.com/10558744/72247459-36bf7c80-35f5-11ea-9e6f-4c4417be5dd7.png)

Everything is blue…

How should I use --special-distance argument? Is that a bug or a lack of understanding

[2020-01-16 06:29] yihong0618 commented on #43
@yeKcim
Special distance is only for GitHub-drawer for now, I think I can raise a pr for this later.

[2020-01-17 08:43] yeKcim commented on #43
how do you display so many colors on https://raw.githubusercontent.com/flopp/GpxTrackPoster/master/examples/example_grid.png and https://raw.githubusercontent.com/flopp/GpxTrackPoster/master/examples/example_circular.png ?

[2020-01-17 10:46] flopp commented on #43
Ah, I see want you want to do...

1. you can use `--special FILENAME` to mark "special" tracks (e.g. official races, events, ...) - these are draw with the `--special-color` (yellow by default), all other tracks are draw with `--track-color` (blue)
2. if you specify secondary colors (`--track-color2`, `--special-color2`) in addition to the primary colors (`--track-color`, `--special-color`), the a

[2020-01-17 11:20] yeKcim commented on #43
thanks
On your README.md, paste the command you used near the pictures could be helpfull for newbies 😁

[2020-06-24 05:32] flopp opened #44 "Add Strava Import"
Add a Strava import function (via `stravalib`).
It may be enough to fetch the activities overview which contains the actual activity tracks as stripped down "summary polylines".

[2020-08-13 06:00] yihong0618 commented on #44
But I seems not contain all Gpx data can we use sqlite like https://github.com/flopp/activities

[2020-08-31 14:12] flopp commented on #22
Unable to reproduce...

[2020-08-31 14:12] #22 closed

[2020-08-31 22:35] sikmir opened #50 "Incorrect case of month names"
Month names are printed in the nominative case for all languages except Russian, where it should be `январь` instead of `января` in the example bellow, compare:
* `--language de_DE`:
![out-de](https://user-images.githubusercontent.com/688044/91774335-3eb64600-ebf1-11ea-9d94-741722dbbf32.png)
* `--language en_US`:
![out-en](https://user-images.githubusercontent.com/688044/91774339-3f4edc80-ebf1-11e

[2020-09-01 03:18] yihong0618 commented on #50
@sikmir

I also find something like this when translate to Chinese, for my case, I added a special case

![image](https://user-images.githubusercontent.com/15976103/91791052-bd889e80-ec44-11ea-979b-b0196db48fc7.png)

[2020-09-01 06:30] flopp commented on #50
So, `strftime('%B')` returns a wrong string when using the `ru_RU.UTF-8` locale?

[2020-09-01 06:44] sikmir commented on #50
Yes, the reason is that `strftime` knows nothing about grammatical cases. Month name substituted by `%B` is correct in such context as `strftime('%d %B')` (`01 сентября`), but that is wrong in case of `strftime('%B')` (`сентябрь` is expected).

[2020-09-02 06:21] flopp commented on #50
I guess, I will add a `localization.py` file with locale-aware functions that return month & day names, e.g. something like

[code]

Would that work?

[2020-09-02 14:17] yihong0618 commented on #50
I think so.

[2020-09-02 17:38] sikmir commented on #50
What about adding util function with all month names and maintaining their proper translations for us without relying on `strftime`?

[2020-09-02 20:06] flopp opened #52 "Add Github actions in favour of Travis CI"
n/a

[2020-09-02 20:15] flopp commented on #50
@sikmir for now, I've added `localization.py` with functions `localized_day_of_week_name` and `localized_month_name` that use the day/month names of the current locale by default. If a language (like Russian) requires some special treatment, the functions can be adapted accordingly; I've already done this for Chinese short day names.
You can now extend `localized_month_name` with the special cases

[2020-09-04 13:40] yihong0618 opened #54 "Consider about time zones when Calendar poster or GitHub poster?"
Consider about time zones when Calendar poster or GitHub poster?
Because we can get time zone from the GPX ( lat, lon can get the time zone)

[2020-09-05 11:45] flopp opened #55 "Use the "pint" library for unit conversions (m <-> km <-> miles), etc."
-> https://github.com/hgrecco/pint

[2020-09-05 11:46] flopp commented on #54
Yes, why not. Is there a Python library to determine the time zone from lat/lon?

[2020-09-06 02:51] yihong0618 commented on #54
Yes I think there are some, let me have a try~

[2020-09-06 12:58] sikmir opened #56 "Locale install"
`pip install` doesn't install `locale` folder into `lib/python3.8/site-packages/gpxtrackposter/`.

[2020-09-06 14:03] flopp commented on #52
8c1fe2d442a5a5fb6b6553fe4f00ef2524385f9b

[2020-09-06 14:03] #52 closed

[2020-09-06 14:12] #56 closed

[2020-09-06 16:14] sikmir commented on #50
That treatment is not like for Chinese short day names, here we have no proper translations, so we need something like https://github.com/django/django/blob/master/django/utils/dates.py#L13-L17

[2020-09-06 17:00] flopp commented on #55
close by #60

[2020-09-06 17:00] #55 closed

[2020-09-06 17:07] flopp opened #61 "Month is not shown in circular layout"
n/a

[2020-09-06 18:02] flopp commented on #61
False alarm. The circular month names are simply not shown when viewing the image in `eog`. `inkscape` shown them without any problems...

[2020-09-06 18:02] #61 closed

[2020-09-07 03:25] yihong0618 commented on #54
There are two cases
1. gpx itself with time zone
2. gpx is utc time we get the time zone by algorithm (I use this library which is faster https://github.com/MrMinimal64/timezonefinder)

-------

I think it's better to add a parameter -- use-localtime If we add this parameter (like strava), we switch the time zone for the user.

[2020-09-07 13:18] yihong0618 opened #63 "feature: add every kind of poster a title"
Like GitHub poster when mouse hover, the title show.

[2020-09-07 13:58] #54 closed

[2020-09-10 06:26] flopp commented on #50
@sikmir I've just added explicit month translations (with initial translations based on `strftime('%B')`).

I would be great if you could fix the Russian translation file (`locale/ru_RU/LC_MESSAGES/gpxposter.po`) such that the month names are correct.

[2020-09-10 12:34] #50 closed

[2020-09-17 04:42] yihong0618 opened #67 "feature: web interface with flask"
Can we add this feature?

Add a link of svg file that user can select value or type value in form.
Add a generate button that can generate the svg file to show in the broswer.

I think flask is enough when click the button then cli side will generate the svg

[2020-09-17 04:43] yihong0618 commented on #63
For calendar and heatmap I think its no need to add title(for heatmap its a little mess, for calendar it already have the date and length)

[2020-09-17 04:43] #63 closed

[2020-09-17 11:56] yeKcim opened #68 "github colors"
`create_poster --gpx-dir "gpx/" --track-color '#5599ff' --track-color2 '#ffd732' --output "/tmp/GPXPOSTER.svg" --title 2019-2020 --athlete Bob --type github --language fr_FR --year 2019-2020 --circular-rings; done;`

Colors are not used in github. I use these colors for heatmap and circular. As you can see, there is too much yellow in github:

![GPXPOSTER heatmap+circular 2019-2020_90dpi](https://

[2020-09-17 12:00] yeKcim opened #69 "feature: font option"
is that possible to add an option to choose font?

[2020-09-17 12:08] yihong0618 commented on #68
@yeKcim
Yes,  when I  added the type `github` I change the logic, the `github` color is based on distance~

like e.g.
[code]

[2020-09-17 12:10] yihong0618 commented on #69
I think we can add font option.

[2020-09-17 18:50] yeKcim opened #70 "feature: heatmap years to svg layers"
when drawing heatmap with several years, separate each year in layers could be great (same scale, can enable or disable easily in svg editor…)

[2020-09-19 08:42] #70 closed

[2020-09-19 08:44] flopp commented on #70
I'm now putting everything into separate groups:

- The header and footer areas are but into the groups "header" and "footer".
- The main drawing area is put into the group "tracks".
- Individual years (inside the main drawing area) are put into groups "yearXXXX".

I hope this helps...

[2020-09-20 16:50] yeKcim opened #71 "another display: barcode"
just an idea, what do you think about this display?

![barcod_display](https://user-images.githubusercontent.com/10558744/93716728-a6690c80-fb71-11ea-861b-a006b9c18376.png)

(i draw it manually, speed graphs are not beautiful here, not enough amplitude)

[2020-09-20 17:51] flopp commented on #71
Quite interesting. This may be worth a try...

[2020-09-21 01:35] yihong0618 commented on #44
@flopp
Can I take a pr for this？

implementation:
1. add the configuration option strava_config.py to read client_id, client_secret
2. add a description of how to get a token (I suggest a refresh token)
3. add option --from-strava to cli.py
4. special run, can use strava id
5. The cache remains the same(maybe add strava id?).
6. Read from strava without multiple processes

Do you have any suggesti

[2020-09-21 05:18] flopp commented on #44
Sounds great. Go ahead if you want to ...

[2020-09-21 06:16] flopp opened #72 "Upload package to PyPI"

[2020-09-27 10:57] #44 closed

[2020-09-27 11:53] yihong0618 commented on #72
For now I think `pip(pip3) install git+https://github.com/flopp/GpxTrackPoster` is one  way to use pip.

[2020-09-27 14:37] flopp commented on #72
@yihong0618 sure, that works. But a "real" package on PyPI would be nice...

[2020-09-30 05:38] yihong0618 commented on #69
This example seems help.
https://github.com/mozman/svgwrite/blob/master/examples/using_fonts.py

[2021-02-01 10:50] narfel opened #78 "Something went wrong when loading GPX"
Hi, can someone help me getting this to run in native windows? All dependecies and venv work, but if i pass a gpx dir (that confirmed works on linux) i get the above error.The error is in track.py:76  `except Exception as e:
        #     raise TrackLoadError("Something went wrong when loading GPX.") from e`  Sadly that doesn't tell me much.

If i remove the exception, I end up with an assertion e

[2021-02-01 13:00] flopp commented on #78
Thank you for reporting this issue.
I'm Linux-only, so I cannot help much...

[2021-02-01 13:05] yihong0618 commented on #78
@narfel
Which python version did you use?

[2021-02-01 17:32] narfel commented on #78
This is the output i get when i remove the exception. Python version in the venv is 3.8.2. I am not familiar with that toolchain used, so i had to be creative and change it in the site-packages after build.

"""
Traceback (most recent call last):
  File "C:\Python\lib\concurrent\futures\process.py", line 239, in _process_worker
    r = call_item.fn(*call_item.args, **call_item.kwargs)
  File "c:\u

[2021-02-02 00:11] yihong0618 commented on #78
@narfel
That's because `Windows` dosen't support **"-"** in filename.
![image](https://user-images.githubusercontent.com/15976103/106534020-221a9300-652e-11eb-97ab-f925d28fff30.png)
you can rename these like 20170423_070251_Ride.gpx and have a try.

[2021-02-02 08:11] flopp commented on #78
@yihong0618 I think `-` in Windows filenames are perfectly fine.

[2021-02-02 09:18] yihong0618 commented on #78
yes, I am wrong...

[2021-02-02 09:22] narfel commented on #78
Tried it anyway, no dice. I even used good old 8.3 format for good measure. But since i can do the i/o stuff on the exact same files with gpxpy i think that is not an issue of the filesystem.

[2021-02-02 09:53] flopp commented on #78
I guess it has something to do with the concurrent loading via `concurrent.futures.ProcessPoolExecutor`

[2021-02-02 10:41] narfel commented on #78
Yes, that's the part that goes wooshing straight over my head. I found a [couple](https://stackoverflow.com/questions/57535979/concurrent-future-fails-on-windows) [of](https://stackoverflow.com/questions/38801229/why-processpoolexecutor-on-windows-needs-main-guard-when-submitting-function) [references](https://bugs.python.org/issue35797) to `oncurrent.futures.ProcessPoolExecutor` on StackExchange,

[2021-02-19 13:08] luiscruz commented on #78
I am having the same issue here. Downloaded GPX files from strava.

``
Error while loading *****/Documents/gpx/Evening_Ride.gpx: Something went wrong when loading GPX.
Error while loading *****/Users/luiscruz/Documents/gpx/Morning_Run.gpx: Something went wrong when loading GPX.
No tracks found.
``

[2021-02-20 10:04] flopp commented on #78
@luiscruz is this on a Linux machine?

[2021-02-20 10:21] flopp opened #79 "Add "non-parallel" loading mode"
to avoid problems such as #78

[2021-02-23 07:22] lowtower opened #80 "TypeError: can't compare offset-naive and offset-aware datetimes"
I try to generate a poster with some gpx files extracted from my garmin account.
I have downloaded the files using the proposed python script [garmin-connect-export](https://github.com/kjkjava/garmin-connect-export).
Now, I get the following error:
[code]
Is something wrong with my gpx files?
As said, they all come from the same source.

Thanks in advance,
LT.

[2021-02-23 07:43] yihong0618 commented on #80
@lowtower

Can you add this line in file `timezone_adjuster.py` for test? and try again.

I am thinking some gpx we can not get tz_name info.

[code]
also need to add import line
[code]

[code]

[2021-02-23 09:12] lowtower commented on #80
Thanks for Your quick reply!

The modification did work!
I get some errors for only a few gpx files such as:
[code]
I have to have a closer look at these files.

Thanks a lot,
cheers,
LT

[2021-02-23 09:20] yihong0618 commented on #80
Maybe this gpx has something wrong, you can open it to see if it contains info or not.

You can delete the activity_5702364393.gpx file from the folder to see what happens.

If you have other gpx files like this, maybe you need to delete them too.

[2021-02-23 09:28] yihong0618 commented on #80
@flopp @lowtower
I think I can take a `pr` to fix this issue later~

[2021-02-23 09:34] lowtower commented on #80
I checked the relevant gpx files - they were not "running" files but "cardio" without time info - so the error messages are reasonable.

Thanks for Your help and filing the pr!

[2021-02-23 09:34] #80 closed

[2021-03-01 10:15] luiscruz commented on #78
Hi @flopp , this is on a Mac OS Catalina Version 10.15.7

[2021-03-05 10:02] lowtower commented on #10
@flopp @laufhannes

Hello,
are You interested in getting this done or has it been dropped for a reason?
Cheers,
LT

[2021-03-05 13:38] flopp commented on #10
@lowtower

[2021-03-05 13:40] flopp commented on #10
@lowtower it would still be nice to have this feature. One could certainly use https://github.com/flopp/py-staticmaps to generate the background image.

[2021-03-05 13:58] lowtower commented on #10
I have already had a look at py-staticmaps (which btw. is also mentioned at the osm staticmaps website).
To be honest, I would prefer not to take it because it has pycairo as requirement, which is quite hard to install. I think it is quite a big obstacle for a lot of users (You need dev packages under linux) .
The approach of laufhannes to take the staticmaps provider and url directly as argument

[2021-03-05 14:00] lowtower commented on #10
btw:
I find the carto dark no labels tiles the best as background.
As far as I have seen they are yet not supported by py-staticmaps, right?

[2021-03-05 15:00] flopp commented on #10
@lowtower you're right, cairo is heavy - i already thought about making it an optional dependency of py-staticmaps (e.g. use it only if it's available).

Anyway, I'm glad you're taking the initiative on this issue!

[2021-03-08 15:44] lowtower commented on #10
@flopp
I have seen that You already have made cairo optional in py-staticmaps - so, I will try my best to use it instead of other options!

[2021-03-11 19:15] wlhUser commented on #78
Hello,
I just stumbled upon this issue. Don't know if it is fixed meanwhile.
If not,  I had the problem with '_ProcessPoolExecutor_' on Windows as well. After some research I replaced it in _track_loader.py_
`  with concurrent.futures.ProcessPoolExecutor() as executor:`
with:
` with concurrent.futures.ThreadPoolExecutor(max_workers = 5) as executor:`

This worked for me.
Maybe you want to try it.

[2021-03-11 20:33] narfel commented on #78
Sweet, thank you, can confirm that works perfectly under Windows. I still have no clue what that actually is about, but i came across some threads that seemed to suggest something similar. I hope it works for Mac OS, too.

[2021-03-11 21:13] #79 closed

[2021-03-11 21:14] flopp commented on #78
@wlhUser thank you for your research!

[2021-03-11 21:23] flopp commented on #78
I've just added a command line option `--workers NUMBER_OF_WORKERS`.

- If omitted, the default number of processes will be used for track loading (~ number of CPU cores);
- if > 1, the specified number of processes will be used;
- if <= 1, tracks will be loaded without any multi-processing (in a plain for-loop without `concurrent.futures...`)

So, if there are any problems with loading, `--worker

[2021-03-11 21:24] flopp commented on #78
Can you check if this works on Windows & MacOS?

[2021-03-12 06:46] narfel commented on #78
Works on windows for smaller sets of files without specifying `--workers NUMBER_OF_WORKERS`.
If i use a >500 files folder it errors out with `TypeError: can't compare offset-naive and offset-aware datetimes` unless i specify 5 workers. There seems to be some cashing going on and I'm not sure how to empty it.

[2021-03-12 07:00] flopp commented on #78
Oh, I see. So I guess there is an (uncaught?) exception (related to comparing datetimes with and without timezone info) that kills the loader process...

[2021-03-16 16:31] lowtower commented on #10
@flopp I have a first working version of the background staticmap feature.
You can have a look at [my fork](https://github.com/lowtower/GpxTrackPoster/tree/heatmap-tiles-background).
I have also forked the [py-staticmaps project](https://github.com/lowtower/py-staticmaps/tree/add-object-independent-bounds) to add object independent boundaries.
At the moment there is no margin to respect the line w

[2021-03-16 20:14] flopp commented on #10
@lowtower the results look nice!

For a final version the background image should be embedded into the SVG (to have a single output file) I guess.

[2021-03-16 20:49] lowtower commented on #10
Reminder to myself:
the copyright notice is also missing because it's cropped away - must be added again.

[2021-03-17 12:16] lowtower commented on #10
Somehow, I feel like the cropping should be done in the py-staticmaps.
What do You think?

[2021-03-17 19:11] flopp commented on #10
Hm, py-staticmaps should create the desired image size - so that no cropping is necessary in GpxTrackPoster.

[2021-03-18 06:58] lowtower commented on #10
Maybe, I understood something fundamentally wrong.
I have to look over it again.

[2021-03-18 09:28] yihong0618 opened #84 "[feat] add animation for circular or maybe also for others poster."
As I mentioned in https://github.com/flopp/GpxTrackPoster/pull/82

![run2020](https://user-images.githubusercontent.com/15976103/111603291-26192080-880f-11eb-8741-2fc2e1c537f5.gif)

You can see my test_svg file in my test  [repo](https://github.com/yihong0618/test_svg)

https://github.com/yihong0618/test_svg/blob/main/test.svg

@lowtower @flopp I can `PR` may be tomorrow.

[2021-03-18 15:27] lowtower commented on #10
The image size is as desired, but the boundaries get an additional border/margin.

I ran the example [draw_gpx.py](https://github.com/flopp/py-staticmaps/blob/master/examples/draw_gpx.py).
The resulting image has a left border of 60px and a right border of 59px to the gpx track (image border to object bounds - width=2 -> 2 extra pixels).
For the background image I need the staticmap without any bo

[2021-03-22 08:05] yihong0618 commented on #84
I think its done.

[2021-03-22 08:05] #84 closed

[2021-03-22 16:15] lowtower commented on #10
A different approach would be to take the map from py-staticmaps **_as is_** and scale the tracks afterwards.

Pro:
- tracks have a padding/border
- copyright notice is not being cropped away
- map logic stays in py-staticmaps

Con:
- heatmap of tracks will be smaller than without background image

Shall I rather continue with this approach?
Suggestions?

[2021-03-24 03:22] yihong0618 commented on #10
I think it woud be nice, because user can choose with map or not.

[2021-03-24 07:54] lowtower commented on #10
That's true for both variants.
In the first variant I keep the tracks as is and crop the background image accordingly. Tracks with or without bg image have the same scale.
In the second variant, I take the background image as is and scale the tacks accordingly - scale is different.

[2021-03-24 08:30] lowtower commented on #10
WIP: First version of second variant (not pixel perfect yet):
https://github.com/lowtower/GpxTrackPoster/tree/heatmap-tiles-background-2

[2021-03-24 13:29] lowtower commented on #10
Hello,
I have uploaded some showcase examples to illustrate the above:

- variant 1
-- tracks are the same, background image is **_cropped_** to fit the tracks
-- [without background (former standard)](https://github.com/lowtower/GpxTrackPoster/blob/heatmap-tiles-background/examples/example_heatmap_new.png)
-- [with background (new)](https://github.com/lowtower/GpxTrackPoster/blob/heatmap-tiles-ba

[2021-03-24 23:51] yihong0618 commented on #10
@lowtower that's cool

[2021-03-31 17:17] AYellowDart opened #90 "Track Loader fails for GPX tracks without a "type""
The recent update for activity type filtering causes the import of GPX files without a "type" to fail. I am using this software to import GPX tracks from ForeFlight which have no type field in the track. Reverting to the prior commit solves the problem as does adding a type field to GPX file manually.

Thanks!

[2021-04-01 09:20] lowtower commented on #90
@AYellowDart:
I wasn't aware of the fact that a gpx file can come without a type.
Can You test my  [PR](https://github.com/flopp/GpxTrackPoster/pull/91) with Your setting?
Thanks in advance
LT

[2021-04-01 14:18] AYellowDart commented on #90
That did it. Works great with no editing.
I took at a look at the GPX 1.1 standard and track type is optional.
Thank you!

[2021-04-01 16:20] #90 closed

[2021-04-15 10:17] lowtower commented on #10
@flopp @yihong0618
I think both versions are acceptable.
I tend to go further with version 2 (take map from py-staticmaps "as is" and scale tracks to match it)
Agree?

Cheers,
LT

[2021-04-22 04:53] yihong0618 commented on #10
@lowtower agree~

[2021-04-27 07:30] lowtower opened #93 "rename master branch to main"
Hello @flopp,

I would highly appreciate it if the outdated name "master" for the main branch could be renamed to "main".
Since 1st of October 2020 for all new projects the default name is "main".
I know that it seems to be a useless effort, but I think it is also an important statement these days.

Cheers,
LT.

[2021-04-27 14:13] lowtower commented on #9
First attempt to address this issue with #94
Please test it.

Thanks,
LT.

[2021-05-02 11:16] flopp commented on #93
Done.

[2021-05-02 11:16] #93 closed

[2021-05-26 19:16] luiscruz commented on #78
After specifying `--workers 1`, I was able to generate my poster successfully! Thanks!!

[2021-11-22 07:21] laufhannes commented on #10
@lowtower Thanks for working on this! Just tried your current branch and it looks promising.

Is there anything missing or is it nearly production ready? I see that your required changes for `py-staticmaps` have been merged recently (only a new release version is missing - and I'd like to use a few other tile layers, but that needs to be done in `py-staticmaps` as well, right?). And it might be go

[2021-11-22 07:23] laufhannes commented on #9
That looks great, thanks!

[2021-11-22 07:23] #9 closed

[2021-11-22 10:28] lowtower commented on #10
Hello @laufhannes,

thanks for the reply and testing.
It's been a while since I worked on this.

As far as I remember, I was not fully satisfied with my solution.
It is not "pixel perfect", which I think has to do with the projection of geodata o 2D maps (like mentioned and explained well here [pystaticmaps/Issue21](https://github.com/flopp/py-staticmaps/issues/21)).
Might not generally be a probl

[2021-12-01 13:59] lowtower commented on #10
Hello @laufhannes,

A very large pixel size results in large images and an increased time to fetch the tile.
I played around with some sizes and found a reasonable maximum size (for me at least).
Secondly, the copyright notice of the background image gets invisible small with larger number of pixels.
That should be handled in py-staticmaps.
I have increased the pixel size to 4800. With higher valu

[2021-12-01 14:11] lowtower commented on #10
That's right.
If You tell me which tile layers You need, I could implement it, test and file a pull request in py-staticmaps

[2021-12-06 20:19] lowtower commented on #10
I have made a correction in cairo output - should be working now.

If You want to test it, You have to update the py-staticmaps library to latest source from github - as You said above, by now no new version has been pushed:
`make setup` then
`pip uninstall -y py-staticmaps`
`pip install --upgrade git+https://github.com/lowtower/py-staticmaps.git@v0.4.1#egg=py-staticmaps`

Cheers,
LT

[2021-12-08 15:20] laufhannes commented on #10
I was planning on doing a pr myself, but I realized that those providers are not free for commercial applications (_I was interested in Stadia.AlidadeSmooth, Stadia.AlidadeSmoothDark, Jawg.Dark, Jawg.Light, CartoDB.Positron, CartoDB.PositronNoLabels, CartoDB.DarkMatter, see https://leaflet-extras.github.io/leaflet-providers/preview/_). For our usecase we probably need to use a custom provider, tha

[2021-12-09 12:59] lowtower commented on #10
Hello @laufhannes,

- CartoDB.PositronNoLabels is already supported (equals "carto-nolabels")
- CartoDB.DarkMatter _NoLabels_ is already supported (equals "carto-darknolabels")
- Jawg requires an accesstoken
- Stadia requires an accesstoken

The Carto Maps **with** labels could be added.
Maybe something like a user defined tile_provider with registration key could be added to py-staticmaps? (@flop

[2022-03-30 15:15] laufhannes opened #98 "Circular rings are scaled wrong if no max distance is provided"
I guess this issue exists since 3e297b811532c357d3a79e4480031470fd542384 / #82.

I'm not sure how the unit handling in python works, but in this part `max_length` is in `km` if provided as cli argument and in `m` otherwise. In my example, the division `distance / max_length` gives `0.00028... kilometer / meter`, but it's `0.28... dimensionless` when using `distance.to_base_units() / max_length.to_

[2022-04-07 06:35] snooppr opened #99 "methods (--type github --type circular) do not work if there are more than one track."
Works if there is one file in the directory.

Doesn't work, there are 3 files in the directory.
`create_poster --type circular`

`create_poster --type github`

[2022-04-07 07:19] snooppr commented on #99
`create_poster --type heatmap`
"""In addition, when I wanted to process a large array of data, I caught another uncaught:"""

GNU/Linux deb; Python3.8.

[2022-04-08 11:51] snooppr commented on #99
The anomalous behavior causes "dependency" on the training order and results in the error above.

Example, if I am going to process workouts (2015 and 2016, there will be no error), if (2015, 2016**,** 2018 then an error will appear and the poster will not be created), if (2015, 2016, 2017, 2018 there will be no error).

[2022-04-19 06:34] lowtower commented on #98
@laufhannes: should be fixed with #101

[2022-04-29 06:53] parthdesai97 opened #102 "Error while loading .../.gpx: Something went wrong when loading GPX"
Getting an error when I run the following command:

`create_poster --type grid --title "Strava Routes" --athlete "NAME"`

I am running the command from a directory that contains all my .gpx files. Any idea why this is happening?

This is the error (it prints one time in terminal for each .gpx file):

`Error while loading /Users/../Downloads/export_54211749/activities/5138491472.gpx: Something went

[2022-04-29 07:08] mipapo commented on #102
Did you took a look at the file 5138491472.gpx?  Does it look like a complete valid gpx file?

[2022-05-14 05:36] snooppr opened #103 "Add parameter: number of activities by month"
More informative (for example, this is how sports applications on gadgets are calculated).

![1](https://user-images.githubusercontent.com/61022210/168412250-fd16b12e-69cf-46f5-af1a-5d16fc62aa53.png)

At the moment, there is a total count of activities. Add breakdown by month.

[2022-05-14 17:27] joetimmerman commented on #102
Hi @parthdesai97  -- if you're still have this problem, it might be worth running with verbose logging enabled to see if that tells you anything interesting. You could also try parsing one of those files via [gpxpy ](https://github.com/tkrajina/gpxpy) directly.

[2022-09-05 08:43] snooppr opened #104 "Does not process gpx whose route is less than 1km"
I generated different workouts. All workouts with a distance of less than **one kilometer** are skipped
`No tracks found.`
Many workouts can be less than 1km, such as walking or swimming.

Please add support for tracks with a distance of less than 1km.

[2022-09-06 07:57] lowtower commented on #104
Hello @snoopr,
there is an argument `--min-distance` that suits to Your question.
I guess, it defaults to 1km.
Try setting it to 0
Cheers

[2022-09-06 11:20] snooppr commented on #104
@lowtower Thank you!  this worked for me.

[2022-09-06 11:20] #104 closed